/* ------------
   PlxToolbar
------------ */
.plxtoolbar input { width : 22px; height : 22px; margin : 0; padding : 0; border: 0px; }
.plxtoolbar input.p { background : url(img/p.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.bold { background : url(img/bold.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.italic { background : url(img/italic.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.underline { background : url(img/underline.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.strike { background : url(img/strike.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.h1 { background : url(img/h1.png) no-repeat; border : none; padding : 2px 4px; }	
.plxtoolbar input.h2 { background : url(img/h2.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.h3 { background : url(img/h3.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.h4 { background : url(img/h4.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.h5 { background : url(img/h5.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.ul { background : url(img/ul.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.ol { background : url(img/ol.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.blockquote { background : url(img/blockquote.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.link { background : url(img/link.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.hr { background : url(img/hr.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.media { background : url(img/media.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.acronym { background : url(img/acronym.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.br { background : url(img/br.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.p_left { background : url(img/left.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.p_center { background : url(img/center.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.p_right { background : url(img/right.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.fullscreen { background : url(img/fullscreen.png) no-repeat; border : none; padding : 2px 4px; }
.plxtoolbar input.button { border : none; padding : 2px 4px; }